/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

#footer .container {
  margin: 0 auto;
  width: 95%;
}

.button {
  text-align: center;
  line-height: 45px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  height: 45px;
  width: 19%;
  margin-top: 8px;
  margin-right: 1%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #596776;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  background-color: #5686ad;
  background-size: auto 23px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.container .button:last-child {
  margin-right: 0;
}

.critter-animation img {
  width: 100%;
  max-width: 480px;
}

.content.container {
  min-height: 200px;
}

.hidden {
  display: none;
}

.battery {
  float: right;
}
.enabled {
  border-style: solid;
  border-color: #148517;
  border-radius: 15px;
}

.disabled {
  border-style: solid;
  border-color: #dbdbdc;
  border-radius: 15px;
}


.trophies-panel .span1{
  width:25%;
  float:left;
}
.trophy {
  margin:2em;
  text-align:center;
}
